<div class="row" id="map-container">
  <div id="map" class="col s6 m9"></div>
  <div id="landmark-sidebar" class="col s6 m3">
    <div class="row">
      <div class="col s12">
        <button class="btn blueify-bgk" id="map-reset">Reset</button>
      </div>
      <% @landmarks.each do |lm, i| %>
      <div class="col s12">
        <div class="card hoverable landmark-list-card" data-id="<%=lm.id%>" data-lat="<%=lm.lat%>" data-lng="<%=lm.long%>">
          <div class="card-image">
            <img class="responsive-img" src="<%= lm.url %>">
            <span class="card-title"><%= lm.title %></span>
          </div>
          <div class="card-action">
            <a class="blueify" href="/landmarks/<%= lm.id %>">Landmark page</a>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<script>
$(document).on('turbolinks:load', function() {
  mapboxgl.accessToken = 'pk.eyJ1Ijoid28xcGgiLCJhIjoiY2l1YThnemRoMDAxeTJ5bDcyYW82MTZxMSJ9.6KW1QasMXf9JJ2M81bQ-1g'
  var sfCoords = new mapboxgl.LngLat(	-122.4350, 37.7609);

  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/dark-v9',
    center: sfCoords,
    zoom: 10.5
  });

  map.on('load', function(){
    console.log('map loaded');
    map.easeTo({
      zoom: 11.5,
      bearing: 10,
      duration: 2000,
      center: sfCoords
    });

    // <% for @landmark in @landmarks %>
    //   //TODO: find a way to make markers visible (geoJSON)
    //    var marker = new mapboxgl.Marker().setLngLat([<%= @landmark.lat %>, <%= @landmark.long %>]);
    //    //$(marker).css('background-color', 'red' );
    //    var popup = new mapboxgl.Popup({offset:[0, -30]})
    //   .setText('Construction on the Washington Monument began in 1848.');
    //    marker.setPopup(popup);
    //    marker.addTo(this);
    // <% end %>
    var markers = [];
    <% for @landmark in @landmarks %>
            markers.push({
              "type": "Feature",
              "geometry": {
                  "type": "Point",
                  "coordinates": [<%= @landmark.lat %>, <%= @landmark.long %>]
              },
              "properties": {
                  "message": "<%= @landmark.title %>",
                  "iconSize": [30,30],
                  "url": "<%= @landmark.url %>"
              }
          });
    <% end %>

    var geojson = {
      "type": "FeatureCollection",
      "features": markers
    }





    geojson.features.forEach(function(marker, i) {
      var el = document.createElement('div');
      el.className = 'marker';
      el.id = 'marker' + (i+1);
      el.style.backgroundImage = 'url(' + marker.properties.url +')';
    //  el.style.backgroundColor = "purple";
      el.style.backgroundSize = "cover";
      el.style.borderRadius = "90%";
      el.style.width = marker.properties.iconSize[0] + 'px';
      el.style.height = marker.properties.iconSize[1] + 'px';

      el.addEventListener('click', function() {
          window.alert(marker.properties.message);
      });

      new mapboxgl.Marker(el, {offset: [-marker.properties.iconSize[0] / 2, -marker.properties.iconSize[1] / 2]}).setLngLat(marker.geometry.coordinates).addTo(map);
    });

  //   map.addSource("points", {
  //     "type": "geojson",
  //     "data": {
  //       "type" : "FeatureCollection",
  //       "features": markers
  //     }
  //   });
   //
  //   map.addLayer({
  //      "id": "points",
  //      "type": "symbol",
  //      "source": "points",
  //      "layout": {
  //          "icon-image": "{icon}-15"
  //      }
  //  });


  });


  $('#map-reset').click(function() {

    $('.marker').each(function(i, marker) {
      if($(marker).height() > 200) {
        $(marker).animate({
          height: "-=300",
          width: "-=300"
        }, 1000);
      }
    });
    map.flyTo({
      zoom: 11.5,
      pitch: -180,
      center: sfCoords
    });
  });

  $('.landmark-list-card').click(function() {
    var id = $(this).data("id");
    $('#marker' + id).animate({
      height: "+=300",
      width: "+=300",
    }, 1000);
    var lat = $(this).attr('data-lat');
    var lng = $(this).attr('data-lng');

    map.flyTo({
      zoom: 18,
      center: new mapboxgl.LngLat(lat, lng),
      pitch: 180
    });
  });
});
</script>
