

<h1><%= @landmark.title %></h1>
<% if current_user %>
 <a href="#modal-upload-form" class="waves-effect waves-teal btn modal-trigger">Upload</a>
<% end %>

<div id="photo_display" class="row">
  <%  @landmark.photos.each do |photo| %>
      <div class="col s6 m4 l3">
        <div class="card" id="show_photo">
          <div class="card-image waves-effect waves-block waves-light">
            <%= cl_image_tag(photo.url, class: 'activator', :height => "200", :width => "200")  %>
          </div>
          <div class="card-reveal">
            <span id="card_title" class="card-title grey-text text-darken-4 flow-text"><%= photo.title %></span>
            <p><%= photo.caption %></p>
            <a href="/landmarks/<%=photo.landmark_id%>/photos/<%=photo.id%>">Learn More</a>
            	<%= pluralize photo.reputation_for(:votes).to_i, "vote" %>
				      <% if current_user %>
                <%= link_to image_tag('thumb_up.png'), vote_landmark_photo_path(photo, type: "up"), method: "post" %>
      				  <%= link_to image_tag('thumb_down.png'), vote_landmark_photo_path(photo, type: "down"), method: "post" %>
              <% end %>
          </div>
        </div>
      </div>
  <% end %>
</div>

<%= render 'photos/new' %>
