
<div id="photo_display" class="row">
  <%  @user.photos.each do |photo| %>
      <div class="col s6 m4 l3">
        <div class="card" id="show_photo">
          <div class="card-image waves-effect waves-block waves-light">
            <img id="card_photo" class="activator" src="<%= photo.url %>">
          </div>
          <div class="card-reveal">
            <span id="card_title" class="card-title grey-text text-darken-4 flow-text"><%= photo.title %></span>
            <p><%= photo.caption %></p>
            <a href="/landmarks/<%=photo.landmark_id%>/photos/<%=photo.id%>">Learn More</a>
          </div>
        </div>
      </div>
  <% end %>
</div>



<a id="profile_btn" class="waves-effect waves-light btn modal-trigger" href="#modal1">Profile</a>

<footer>
  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <h4> Hello <%= @user.first_name %> <%= @user.last_name %>!</h4>
      <p><%= @user.bio %></p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Edit</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Delete</a>
    </div>
  </div>
</footer>
