
<div class="row">
  <% Photo.all.each do |photo| %>
      <div class="col s6 m4 l3">
        <div class="card small" id="show_photo">
          <div class="card-image">
            <a href="/landmark_photo/photo.url"><%= cl_image_tag(photo.url) %></a>
            <span class="card-title"><%= photo.title %></span>
          </div>
          <div class="card-content">
            <p><%= photo.caption %></p>
          </div>
        </div>
      </div>
  <% end %>
</div>

<a id="profile_btn" class="waves-effect waves-light btn modal-trigger" href="#modal1">Profile</a>

<footer>
  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <h4> Hello <%= @user.first_name %> <%= @user.last_name %>!</h4>
      <p><%= @user.bio %></p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Edit</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Delete</a>
    </div>
  </div>
</footer>
