<div id="modal-upload-form" class="modal">
  <div class="modal-content">
    <h4>Upload a Photo</h4>


    <%= form_for [@landmark, @photo] do |f| %>

    <%= f.label "Title"  %>
    <%= f.text_field :title, placeholder: "Photo Title", required: true %> <br>

    <%= f.label "Caption"  %>
    <%= f.text_area :caption, placeholder: "Tell Us About Your Photo", required: true %> <br>

    <%= cl_image_upload_tag(:url) %>

  </div>
  <div class="modal-footer">
    <div class="btn waves-effect waves-green"><%= f.submit "Save"%></div>
    <% end %>
  </div>
</div>
