<div class="row">
  <div class="col s7">
    <div class="col s4">
      <%= cl_image_tag(@photo.url, id: 'show_photo', class: 'materialboxed' ) %>
    </div>

    <div id="photo-show-btns">
      <div class="col s12">
        <div class="col s6">
          <a href="/landmarks/<%= @photo.landmark_id %>" class="center waves-effect waves-light btn-flat"><i class="material-icons right">language</i>Landmark</a>
        </div>
        <div class="col 6">
          <a href="/users/<%= @photo.user_id %>" class="center waves-effect waves-light btn-flat"><i class="material-icons right">perm_identity</i>Artist</a>
        </div>
        <div class="center col s10 offset-s2">
          <%= social_share_button_tag(@photo.url) %>
        </div>
      </div>
    </div>
  </div>

  <div class="comments-column col s5">
    <div class="comments-header col s12">
      <% if current_user %>
        <%= form_for @new_comment do |f| %>
          <%= f.hidden_field :commentable_id, value: @new_comment.commentable_id %>
          <%= f.hidden_field :commentable_type, value: @new_comment.commentable_type %>
          <%= f.text_area :body%>
          <%= submit_tag "Post comment", class: 'btn btn-primary' %>
        <% end %>
      <% end %>
    </div>

    <div class="comments-container col s12">
      <h4>Comments</h4>
      <% @comments = @photo.comment_threads %>
      <% @comments.each do |comment| %>
            <div class="comment-card">
              <a class="col s4 " href="/users/<%= comment.user.id %>"><h5><%= comment.user.first_name %> <br> <%= comment.user.last_name %></h5></a>
              <p class="col s8 "><%= comment.body %></p>
            </div>
      <% end %>
    </div>


  </div>
</div>
