<!DOCTYPE html>
<html>
  <head>
    <title>ViewFinder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo right">Logo</a>
        <ul id="nav-mobile" class="">
          <li><a href="#" data-activates="login" class="side_btn">Login</a></li>
          <li><a href="#" data-activates="sign_up" class="side_btn">Sign Up</a></li>
          <li><a href="#" data-activates="upload" class="side_btn">Upload</a></li>
        </ul>
      </div>
    </nav>

    <ul id="login" class="side-nav">

    </ul>

    <ul id="sign_up" class="side-nav">
      <%= form_for @user do |f| %>
      	<%= f.text_field :first_name, placeholder: 'First name' %>
      	<%= f.text_field :last_name, placeholder: 'Last name' %>
      	<%= f.email_field :email, placeholder: 'Email' %>
      	<%= f.password_field :email, placeholder: 'Password' %>
      	<%= f.submit %>
      <% end %>
    </ul>

    <ul id="upload" class="side-nav">
      <li><div class="userView">
        <a href="#!name"><span class="white-text name">John Doe</span></a>
        <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
      </div></li>
      <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
      <li><a href="#!">Second Link</a></li>
      <li><div class="divider"></div></li>
      <li><a class="subheader">Subheader</a></li>
      <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
    </ul>


    <%= yield %>
  </body>
</html>
