<!DOCTYPE html>
<html>
  <head>
    <title>ViewFinder</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.css' rel='stylesheet' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <nav>
      <div class="nav-wrapper grey-text text-lighten-4">
        <a href="/" id="logo"class="brand-logo col s5 offset-s1">ViewFinder</a>
        <ul id="nav-mobile" class="right">
          <li><a href="/landmarks">Map</a></li>
          <% if current_user %>
            <li><a href="<%=user_path(current_user)%>">Profile</a></li>
            <li><a href="#" data-activates="upload" class="side_btn">Upload</a></li>
            <li><a href="/logout">Logout</a></li>
          <% else %>
            <li><a href="#" data-activates="login" class="side_btn">Login</a></li>
            <li><a href="#" data-activates="sign_up" class="side_btn">Sign Up</a></li>
          <% end %>

        </ul>
      </div>

    </nav>

    <ul id="login" class="side-nav">
      <div class="container">
        <li>Log In</li>
        <%= form_for :user, url: '/sessions' do |f| %>
          <div>
            <%= f.email_field :email, placeholder: "Email" %>
          </div>
          <div>
            <%= f.password_field :password, placeholder: "Password" %>
          </div>
          <%= f.submit "Log In" %>
        <% end %>
      </div>
    </ul>

    <ul id="sign_up" class="side-nav">
      <div class="container">
        <li>Join!</li>
        <%= form_for(User.new) do |f| %>
          <li><%= f.text_field :first_name, placeholder: 'First name' %></li>
          <li><%= f.text_field :last_name, placeholder: 'Last name' %></li>
          <li><%= f.email_field :email, placeholder: 'Email' %></li>
          <li><%= f.password_field :password, placeholder: 'Password' %></li>
          <li><%= f.submit %></li>
        <% end %>
      </div>
    </ul>

    <ul id="upload" class="side-nav">
      <div class="container">
        <p>
          <strong>License</strong>
        </p>
        <form action="#">
          <p>
            <input name="upload" type="radio" id="test1" />
            <label for="test1">Attribution</label>
          </p>
          <p>
            <input name="upload" type="radio" id="test2" />
            <label for="test2">Attribution-ShareAlike</label>
          </p>
          <p>
            <input name="upload" type="radio" id="test3" />
            <label for="test3">Attribution-NoDerivs</label>
          </p>
          <p>
            <input name="upload" type="radio" id="test4" />
            <label for="test4">Attribution-NonCommercial</label>
          </p>
          <p>
            <input name="upload" type="radio" id="test5" />
            <label for="test5">Attribution-NonCommercial-ShareAlike</label>
          </p>
          <p>
            <input name="upload" type="radio" id="test6" />
            <label for="test6">Attribution-NonCommercial-NoDerivs</label>
          </p>
          </form>
          <a href="https://creativecommons.org/licenses/">Learn More</a>
      </div>
    </ul>



<% flash.each do |name, msg| %>
  <p>
    <small> <%= name.capitalize %>: <%= msg %> </small>
  </p>
<% end %>

    <%= yield %>

    <footer id="footer" class="page-footer">
        <div class="container ftr">
        <a class="ftr_lnk" rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a>
        <a href="#" class="grey-text text-lighten-4 ftr_lnk">2016 Viewfinder Team</a>
        <a href="#" class="grey-text text-lighten-4 ftr_lnk">Community Rules</a>
        <a href="https://creativecommons.org" class="grey-text text-lighten-4 ftr_lnk">Creative Commons</a>
        </div>
    </footer>
  </body>
</html>
